@model WebApplication2.Models.Employee

@{   ViewData["Title"] = " Create Employee"; 
    var errorMessage = TempData["errorMessage"]?.ToString(); 

}
<h3>@ViewData["Title"]?.ToString()</h3>
<hr />
 @if (!string.IsNullOrWhiteSpace(errorMessage))

{
    <div class="alert alert-danger">

     <b>Error: </b> @errorMessage

     <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label= "Close" >
     </button>
    </div>
    
}
<form method="post" action="Create" class="mt-3" autocomplete="off">

      <div class="mb-3">
           <label class="from-lable">Id </label>
           <input type="text" class="from-control" asp-for="Id" />
           <span asp-validation-for="Id" class="text-danger "></span>

    </div>
   
    <div class="mb-3">
       <label class="from-lable">Name </label>
       <input type="text" class="from-control" asp-for="Name"/>
       <span asp-validation-for="Name" class="text-danger "></span>

    </div>
    <div class="mb-3">
        <label class="from-lable">DOB </label>
        <input type="date" class="from-control" asp-for="DOB" />
        <span asp-validation-for="DOB" class="text-danger "></span>

    </div>
    <div class="mb-3">
        <label class="from-lable">Email </label>
        <input type="email" class="from-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger "></span>

    </div>

    <div class="mb-3">
        <label class="from-lable">Salary </label>
            <div class="input-group">
                <span class="input-group-text">$</span>
        <input type="text" class="from-control" asp-for="Salary"/>
        </div>
        <span asp-validation-for="Salary" class="text-danger "></span>
    </div>
    <div class="mb-3">
       <div class="col-lg-12 d-grid">
           <button type="submit" class="btn btn-primary">Submit</button>
       </div>

    </div>


</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
